<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>All Users</title>
  <style>
    table {
      margin: 0 auto;
      border-collapse: collapse;
      border: 1px solid black;
    }
    th, td {
      padding: 8px;
      border: 1px solid black;
    }
  </style>
</head>

<body>
  <h1 style="text-align: center;" >All Users</h1>

  <table>
    <thead>
      <tr>
        <th>Login</th>
        <th>email</th>
        <th>Phone Number</th>
        <th>Address</th>
        <th>City</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="user, i : ${users}">
        <td th:text="${user.login}"></td>
        <td th:text="${infos[i.index].email}"></td>
        <td th:text="${infos[i.index].phoneNumber}"></td>
        <td th:text="${infos[i.index].adress}"></td>
        <td th:text="${infos[i.index].city}"></td>
      </tr>
    </tbody>
  </table>
</body>

</html>
